// =Base
// ----------------------------------------------

* {
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

body {
  font-size: 100%;
  line-height: 145%;
  vertical-align: baseline;
  color: $text-light;
  background: $dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  &.no-scroll {
    overflow: hidden;
  }
}

.project {
  background: $light;
  color: $text-light;
}

img {
  max-width: 100%;
}

a {
  color: $accent-color-2--dark;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}

.magic {
  display: inline-block; 
  position: relative;
  color: $accent-color-2; 
  cursor: pointer;
  white-space: nowrap;
  z-index: 1;
  transition: all .15s ease-in-out;

  &:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: $hundo + 8%;
    height: 1px;
    left: -4%;
    transform: translateY(22px);
    background: $accent-color-2;
    z-index: -1;
    transition: all .15s ease-in-out;
  }

  &:hover {
    text-decoration: none;
    color: $light; 
  }
  
  &:hover::after {
    transform: translateY(-4px);
    height: 24px; 
  }
}

.logo {
  max-width: 100px;
  margin-bottom: 20px;  
  img {
    transform: scale(.85);
    width: 28%;
    &:hover {
      transform: scale(1);
      cursor: help;
    }
  }
}

.center {
  text-align: center;
}

hr {
  display: block;
  width: 100%;
  height: 1px;
  background: $text-light;
  opacity: .2;
}
