// Layout
// ----------------------------------------------

.container {
  overflow: hidden;
  width: auto;
  margin: $spacer-4 0 $spacer-4;
  padding: 0 20%;

  p, ul { 
    font-weight: 300;
	}
  
  .col-1 {
    float: left;
    width: 30%;
	}

  .col-2 {
    float: right;
    width: 70%;
	}
}

.content {overflow: hidden;}

header[role="banner"] {
  position: relative;
  overflow: hidden;
  .container {
  	position: relative;
    z-index: 10;
    margin-top: 25vh;
    margin-bottom: 25vh; 
    p {
      width: 100%; 
    }
  }
  figure {
  	overflow: hidden;
    padding-right: $spacer-6;
  }
}

/* Footer Stuff */

footer {
  z-index: 100; 
  width: 100%; 
}

.footerInfo {
  position: absolute; 
  display: block;
  opacity: 1;
  top: 0; 
  width: 100vw; 
  height: 100vh;
  background: $light; 
  z-index: 100; 
  text-align: center;
  transition: all .35s ease-in-out; 
  ul {
    margin-top: 20vh;
    li {
      margin: 16px 0; 
      a {
        font-size: 18px; 
        line-height: 1;
      }
    }
  }
}

.footerInfo.closed {
  opacity: 0;
  z-index: 0;
  //transform: translateY(100%);
  transition: all .35s ease-in-out; 
}

.more, .less {
    display: block;
    position: absolute;
    moz-box-sizing: border-box;
    box-sizing: border-box;
    top: 40px;
    right: 40px;
    text-align: center;
    line-height: 1;
    padding: 14px 14px 10px;
    margin: 0;
    z-index: 101;
    &:hover {
      background: $accent-color-2;
    }
    &:after {
      display: none; 
    }
  }

.more {
  background: #102D2D;
  color: $light;
   &.hide {
    opacity: 0;
    z-index: -100; 
  }
}

.less {
  background:rgba(0,0,0,.05);
  color: $dark; 
  &.hide {
    opacity: 0;
    z-index: -100; 
  }
}

/* Particles */

.particles {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw; 
  height: 100vh; //makes the circles ovals
}
