/* =Reset*/


/* ----------------------------------------------*/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
dialog {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  border: 0 none;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

button,
textarea,
input {
  border: none;
  overflow: auto;
  outline: none;
  box-shadow: none;
}
