// =Variables
// ----------------------------------------------

// =Dimensions
// --------------------------
$spacer: 400px;
$hundo: 100%; 
$fifty: $hundo / 2;
$quarter: $hundo / 4; 
$spacer-2: $spacer / 2;
$spacer-3: $spacer / 3;
$spacer-4: $spacer / 4;
$spacer-6: $spacer / 6;
$spacer-8: $spacer / 8;
$spacer-16: $spacer / 16;


// =Colors
// --------------------------

$dark:      #042323;
$light:     #ffffff;

$accent-color-1:   #FD987B;
$accent-color-2:   #5CCECE;
$accent-color-2--dark: darken($accent-color-2, 10);

$text:          darken($light, 10%);
$text-light:    adjust-color($dark, $saturation: -60, $lightness: 20);
$text-lighter:  adjust-color($dark, $saturation: -54, $lightness: 50);

/* Font Families */

$serif: Georgia, serif; 
$sans: "nimbus-sans", Helvetica Neue, Helvetica, sans-serif; 
$mono: "inconsolata", monospace;  
$system: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

$grotesk-light: "PostGrotesk-Light", sans-serif;
$grotesk-book: "PostGrotesk-Book", sans-serif;
$grotesk-med: "PostGrotesk-Medium", sans-serif;
$grotesk-bold: "PostGrotesk-Bold", sans-serif;
