$yellow: #FBC95A;

.container {
  font-size: 125%; /*20px*/
  line-height: 1.75;
  max-width: 36rem; // 720/20
  margin: 0 auto;
}

.callout {
  background-color: darken($yellow, 40);
  padding: 1rem;
  border: 1px solid $yellow;
  border-radius: 4px;
  font-size: 1.2rem;
}
