.dFlex {
  display: flex;
}

.alignItemsCenter {
  align-items: center;
}

.main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
}

.gridCol2,
.gridCol4 {
  grid-column: span 6;
}

.mainImg {
  height: 40vh;
  object-fit: cover;
}

.mainContent {
  padding: 1rem 2rem;
}

.ttu {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
}

.inline {
  display: inline;
}

.flush {
  margin: 0;
}

@media (min-width: 940px) {
  .mainImg {
    height: 100vh;
  }

  .gridCol2 {
    grid-column: span 2;
  }

  .gridCol4 {
    grid-column: span 4;
  }

  .mt0 {
    margin-top: 0;
  }
}

.colorChange {
  animation: color-change 8s infinite;
}

@keyframes color-change {
  0% {
    color: white;
  }
  10% {
    color: var(--red);
  }
  20% {
    color: var(--yellow);
  }
  30% {
    color: var(--green);
  }
  40% {
    color: var(--teal);
  }
  50% {
    color: var(--blue);
  }
  60% {
    color: var(--teal);
  }
  70% {
    color: var(--green);
  }
  80% {
    color: var(--yellow);
  }
  90% {
    color: var(--red);
  }
  100% {
    color: white;
  }
}
