$red: #E75E64;
$yellow: #FBC95A;
$green: #98C892;
$teal: #3AAEB4;
$blue: #6498CE;

@keyframes color-change {
  0% { color: white; }
  10% { color: $red; }
  20% { color: $yellow; }
  30% { color: $green; }
  40% { color: $teal; }
  50% { color: $blue; }
  60% { color: $teal; }
  70% { color: $green; }
  80% { color: $yellow; }
  90% { color: $red; }
  100% { color: white; }
}
