body {
  display: flex;
  font-size: 100% !important;
  margin: 0;
}

a {
  color: #fbc95a;
}

p {
  line-height: 1.65;
}

img {
  width: 100%;
}

.dFlex {
  display: flex;
}

.alignItemsCenter {
  align-items: center;
}

.main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
}

.gridCol2,
.gridCol4 {
  grid-column: span 6;
}

.mainImg {
  height: 40vh;
  object-fit: cover;
}

.mainContent {
  padding: 1rem 2rem;
}

.ttu {
  display: inline;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
}

.flush {
  margin: 0;
}

@media (min-width: 940px) {
  html {
    font-size: 17px;
  }

  body {
    height: 100vh;
    align-items: center;
  }

  .mainImg {
    height: 100vh;
  }

  .gridCol2 {
    grid-column: span 2;
  }

  .gridCol-4 {
    grid-column: span 4;
  }

  .mt0 {
    margin-top: 0;
  }
}
