/* Reset*/


/* ----------------------------------------------*/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
dialog {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  border: 0 none;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, 
               BlinkMacSystemFont, 
               "Segoe UI", 
               Roboto, 
               Helvetica,
               Arial,
               sans-serif,
               "Apple Color Emoji",  /* Emojis*/
               "Segoe UI Emoji", /* Emojis*/
               "Segoe UI Symbol"; /* Emojis*/
}

.mono {
  font-family: "roboto mono", Menlo, "Inconsolata", monospace;
}

a {
  color: #FE8019;
}

p {
  line-height: 1.55;
  margin: 1rem 0;
}

ul {
  list-style: none;
}

button,
textarea,
input {
  border: none;
  overflow: auto;
  outline: none;
  box-shadow: none;
}

.ideas, .entry {
  padding: 1rem 0;
}

.idea {
  list-style: none;
  text-align: left;
  margin-bottom: 1rem;
}

ul li:before {
  content: '-';
  color: #ABABAB;
  position: absolute;
  margin-left: -20px;
}

/* loading progress bar styles */
      #nprogress {
        pointer-events: none;
      }

      #nprogress .bar {
        background: #FE8019;
        position: fixed;
        z-index: 1031;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
      }

      #nprogress .peg {
        display: block;
        position: absolute;
        right: 0px;
        width: 100px;
        height: 100%;
        box-shadow: 0 0 10px#FE8019, 0 0 5px #FE8019;
        opacity: 1.0;
        transform: rotate(3deg) translate(0px, -4px);
      }
